<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gudea:700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/syntax.css" rel="stylesheet" type="text/css" />
<link href="/css/tipTip.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="/js/randomLogo.js"></script>

<title>{{ page.title }}</title>

</head>

<body>
  <div id="sidebar">
    <div id="logo"></div>
  
    <div id="title">josh nankin</div>
    
    <div id="description">
      software entreprenuer, devop-erator, scotch lover, firearms enthusiast.
      <br/><br/>
      father.
    </div>
    
    <div id="links">
      <ul>
        <li><a href="http://twitter.com/jnankin">@jnankin</a></li>
        <li><a href="https://github.com/jnankin">github</a></li>
        <li><a href="mailto:jnankin@gmail.com">email</a></li>
      </ul>
    </div>
    
  </div>
  
  <div id="main">


                {{ content }}

  </div>
</body>
</html>

